# Put these blocks into your server Caddyfile.

shizuki.online {
  redir https://site.shizuki.online{uri} permanent
}

site.shizuki.online {
  reverse_proxy 127.0.0.1:5173
}

api.shizuki.online {
  reverse_proxy 127.0.0.1:8080
}
